<!-- Footer -->
<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-4 md:px-6">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <a href="#" routerLink="/" class="flex items-center space-x-3">
          <img src="multimedia/logos/LogoMIDE.png" alt="MilTalento Logo" class="h-8" />
          <span class="text-xl font-bold">Sistema de Reclutamiento Militar</span>
        </a>
      </div>
      <div class="flex space-x-6">
        <a routerLink="/inicio" class="hover:text-military-gold transition-colors">Inicio</a>
        <a  routerLink="/vacantes" class="hover:text-military-gold transition-colors">Vacantes</a>
        <a  routerLink="/registro" class="hover:text-military-gold transition-colors">Registrarse</a>
      </div>
    </div>
    <div class="mt-8 pt-6 border-t border-gray-800 text-center text-sm">
      <p>&copy;{{year}} C5i de las Fuerzas Armadas. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
